apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  labels:
    app: promtail
data:
  promtail.yml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://loki-service:3100/loki/api/v1/push

    scrape_configs:
      # Kubernetes pods logs
      - job_name: kubernetes-pods
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_node_name]
            target_label: __host__
          - action: labelmap
            regex: __meta_kubernetes_pod_label_(.+)
          - source_labels: [__meta_kubernetes_namespace]
            target_label: kubernetes_namespace
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: kubernetes_pod_name
          - source_labels: [__meta_kubernetes_pod_container_name]
            target_label: kubernetes_container_name
        pipeline_stages:
          - json:
              expressions:
                output: log
                stream: stream
                attrs: attrs
          - json:
              expressions:
                tag: attrs.tag
              source: attrs
          - regex:
              expression: (?P<container_name>(?:[^_]*_){2}[^_]*)
              source: tag
          - timestamp:
              format: RFC3339Nano
              source: time
          - labels:
              tag:
              container_name:
          - output:
              source: output

      # System logs
      - job_name: system
        static_configs:
          - targets:
              - localhost
            labels:
              job: varlogs
              __path__: /var/log/*.log
